.container {
  padding: 1.5rem;
  .welcome {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.5rem;
      padding: 1rem 0;
      margin-bottom: 1rem;
    }
  }
}

// Mobile design
@media @mobile {
  .container {
    padding: 1rem;
  }
}
