.container {
  .header {
    display: flex;
    justify-content: right;
    nav {
      display: flex;
      justify-content: space-around;
      width: 50%;
      padding-bottom: 1rem;
      a {
        text-decoration: none;
        color: @navBtnText;
        background: @navBtnColor;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        &:hover {
          color: @hoverColor;
        }
      }
    }
  }
}
