.container {
  .signup {
    a {
      text-decoration: none;
      color: @navBtnText;
      background: @navBtnColor;
      padding: 0.75rem 1rem;
      border-radius: 10px;
      font-size: 1.5rem;
      &:hover {
        background: @bg-color;
        color: @font-color;
      }
    }
  }
}
